GEMINI_API_KEY=
VITE_GOOGLE_CLIENT_ID=112305367877-uqesobtgqngibu38ekf4qu22pm4jicvb.apps.googleusercontent.com
VITE_API_URL=
VITE_SUPABASE_URL=https://osgteroqqxmnpqwvcrhc.supabase.co
VITE_SUPABASE_ANON_KEY=

